<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/user_base::Layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>this is user update contact page</title>
</head>

<body>
	<section>

		<div class="card ml mr mb-5 reduceCardMarginTop">

			<div class="card-body">

				<h1 class="text-center text-success">UPDATE YOUR CONTACT</h1>

				<div class="container-fluid mt-1">

					<div class="row">

						<div class="col-md-8 offset-md-2">

							<form action="#" th:object="${contact}" method="post" th:action="@{/user/process-update}"
								enctype="multipart/form-data">

								<input type="hidden" th:value="${contact.cId}" name="cId" />

								<!--first name-->

								<div class="input-group flex-nowrap">
									<div class="input-group-prepend">
										<span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-plus"
												style="height: 24px;"></i></span>
									</div>
									<input name="name" th:value="${contact.name}" id="firstName" type="text"
										class="form-control" placeholder="Enter Name Here" aria-label="Username"
										aria-describedby="addon-wrapping" required>
								</div>

								<!--Second name-->

								<div class="input-group flex-nowrap mt-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="addon-wrapping"><i class="fas fa-user-alt"
												style="height: 24px;"></i></span>
									</div>
									<input name="secondName" th:value="${contact.secondName}" type="text" id="lastName"
										class="form-control" placeholder="Enter Nick Name Here" aria-label="Nickname"
										aria-describedby="addon-wrapping" required>
								</div>

								<!--Phone number-->

								<div class="input-group flex-nowrap mt-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="addon-wrapping"><i class="fas fa-phone"
												style="height: 24px;"></i></span>
									</div>
									<input name="phone" th:value="${contact.phone}" type="number" id="phoneNumber"
										class="form-control" placeholder="Enter Phone Number Here"
										aria-label="phoneNumber" aria-describedby="addon-wrapping" required min="10">
								</div>

								<!--Email-->

								<div class="input-group flex-nowrap mt-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="addon-wrapping">@</span>
									</div>
									<input name="email" th:value="${contact.email}" type="email" id="Email"
										class="form-control" placeholder="Enter Email Address Here" aria-label="Email"
										aria-describedby="addon-wrapping" required>
								</div>

								<!--Work-->

								<div class="input-group flex-nowrap mt-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="addon-wrapping"><i class="fa fa-briefcase"
												style="height: 24px;"></i></span>
									</div>
									<input name="work" th:value="${contact.work}" type="text" id="work"
										class="form-control" placeholder="Enter Work Here" aria-label="work"
										aria-describedby="addon-wrapping" required>
								</div>

								<!--About Contact description-->

								<div class="input-group flex-nowrap mt-3">
									<textarea name="description" th:text="${contact.description}" type="text"
										class="form-control" placeholder="Enter contact description Here"
										id="mytextarea" aria-label="description" aria-describedby="addon-wrapping"
										rows="10" cols="30"></textarea>
								</div>

								<!--Image Update-->

								<div class="container text-center">
									<img style="width: 200px; height: 200px;" class="my_profile_picture"
										th:src="@{'/image/'+${contact.image}}" alt="" />
								</div>


								<div class="custom-file mt-3">
									<input type="file" name="profile_Update-Image" required placeholder="select new profile photo"/>
								</div>
								<p class="text-success">select previous one if not want to update...</p>
								<div class="container mt-3 text-center">
									<button class="btn btn-outline-success">Update Contact</button>
								</div>

							</form>

						</div>
					</div>
				</div>
			</div>
		</div>

		<!--tinyMCE editor in description-->
		<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

		<script>
			tinymce.init({
				selector: '#mytextarea'
			});
		</script>

	</section>
</body>

</html>