<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>this is about page</title>
</head>

<body>
	<section>

		<main role="main">

			<!-- Main jumbotron for a primary marketing message or call to action -->
			<div class="jumbotron">
				<div class="container">
					<h1 class="display-3 text-primary text-center fw-bold ">Welcome to Smart Contact Manager !</h1>
					<h4>At Smart Contact Manager !! we are passionate about simplifying your contact management
						experience.
						Our platform allows you to seamlessly organize, store, and access your contacts from anywhere in
						the world, securely stored on the cloud. Our mission is to provide a user-friendly and efficient
						solution for individuals and businesses to maintain their contacts and stay connected.</h4>

				</div>
			</div>

			<div class="container mt-5">
				<!-- Example row of columns -->
				<div class="row">
					<div class="col-md-4 bg-white text-dark">
						<h1>How It All Started</h1>
						<p>was born out of a need for a contact management solution that could
							adapt to the fast-paced digital world. Frustrated with traditional address books and limited
							storage options, our founders embarked on a journey to create a cloud-based platform that
							would revolutionize the way people manage their contacts.
						</p>
					</div>
					<div class="col-md-4 bg-dark text-white">
						<h1>Our Vision</h1>
						<p>Our vision is to be the go-to contact management platform that empowers users to streamline
							their contacts effortlessly, saving time and enhancing productivity. We believe that
							managing your contacts should be stress-free, whether you're an individual staying connected
							with friends and family or a business professional seeking to optimize your networking
							efforts. </p>
					</div>
					<div class="col-md-4 bg-white text-dark">
						<h1>Join Us in Our Journey</h1>
						<p>We are incredibly grateful for the support of our users, who have been instrumental in
							shaping [Your Website Name] into what it is today. As we continue to grow, we invite you to
							be a part of our journey and provide us with valuable feedback to make our platform even
							better.</p>
						<p class="bg-dark text-center text-warning">Provide FeedBack On : ajitsuryawanshi65392@gmail.com
						</p>
					</div>


					<!--for core values-->
					<div class="bg-white mt-5">
						<h1 class="text-center text-info">OUR CORE VALUES</h1>
						<p>
						<p><span>
								<h5>User-Centric Approach:</h5>
							</span> Our users are at the heart of everything we do. We strive to
							understand their needs and preferences to continuously improve our platform and services.
						</p>
						<p><span>
								<h5>Security and Privacy:</h5>
							</span> We take the security and privacy of your data seriously. Rest
							assured
							that your contact information is protected with the latest encryption and best-in-class
							security measures.</p>
						<p><span>
								<h5>Simplicity and Intuitiveness:</h5>
							</span> We believe in keeping things simple and easy-to-use. Our
							platform is designed with a user-friendly interface that requires no technical expertise.
						</p>
						<p><span>
								<h5>Reliability and Accessibility:</h5>
							</span> Our cloud-based infrastructure ensures that your contacts are
							always accessible and never lost, no matter the device you're using.
						</p>



						</p>

					</div>

				</div>



				<!--contact us div-->

				<div class="container mt-5">
					<!-- Example row of columns -->
					<div class="row">
						<div class="col-md-6 bg-dark text-white">
							<h1 class="text-center">Contact Us</h1>
							<p class="">
								We love hearing from our users! If you have any questions, feedback, or suggestions,
								please don't hesitate to get in touch. You can reach us through our Contact page, and we
								promise to respond promptly.

								Thank you for choosing Smart Contact Manager as your go-to contact manager. We look
								forward to helping you stay connected and organized.

							<p class="bg-white text-primary text-center">ConTact Us On : ajitsuryawanshi65392@gmail.com
							</p>
							</p>
						</div>
						<div class="col-md-6 bg-white">
							<h1 class="text-center"> Connect with us on social media:
							</h1>
							<!--image on connect social media page-->
							<div class="mt-5 text-center">

								<a
									href="https://www.linkedin.com/feed/?trk=sem-ga_campid.14650114788_asid.151761418307_crid.657403558721_kw.linkedin%20login_d.c_tid.kwd-12704335873_n.g_mt.e_geo.9301136"><img
										style="width:20%;" th:src="@{/image/LinkedIn.png}" alt="" class="container" />
								</a>
								<a href="https://www.facebook.com/"> <img style="width:20%;"
										th:src="@{/image/facebook.png}" alt="" class="container" />
								</a>
								<a href="https://www.instagram.com/"><img style="width:20%;" th:src="@{/image/instagram.jpg}" alt=""
										class="container" />
								</a>
								<a href="https://twitter.com/i/flow/login"><img style="width:20%;" th:src="@{/image/twitter.png}" alt=""
										class="container" />
								</a>


							</div>

						</div>
					</div>

				</div>


				<hr>



				<!--footer-->


				<div class="footer-bottom">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 text-center ">
								<div class="copyright-text">
									<p>CopyRight © 2023 SCM All Rights Reserved</p>
								</div>
							</div> <!-- End Col -->

						</div>
					</div>
				</div>



			</div> <!-- /container -->

		</main>



	</section>
</body>

</html>