<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>this is home page</title>
</head>
<body>
       <section class="banner d-flex justify-content-center align-items-center">
		   <div class="text-center">
			   <h1 class="font-weight-bold">Smart Contact Manager</h1>
			   <p>Now Collect Your Contacts in Smarter Way And the way is here...</p>
			   <button class="btn bg-primary btn-lg " > <a th:href="@{/custom_login}" id="no-underline" > Get Start </a> </button>
		   </div>
	   </section>
</body>
</html>